.cardinals {
  background-position: 0px -0px !important;
}
.falcons {
  background-position: 0 -20px !important;
}
.ravens {
  background-position: 0 -40px !important;
}
.bills {
  background-position: 0 -60px !important;
}
.panthers {
  background-position: 0 -80px !important;
}
.bears {
  background-position: 0 -100px !important;
}
.bengals {
  background-position: 0 -120px !important;
}
.browns {
  background-position: 0 -140px !important;
}
.cowboys {
  background-position: 0 -160px !important;
}
.broncos {
  background-position: 0 -180px !important;
}
.lions {
  background-position: 0 -200px !important;
}
.packers {
  background-position: 0 -220px !important;
}
.texans {
  background-position: 0 -240px !important;
}
.colts {
  background-position: 0 -260px !important;
}
.jaguars {
  background-position: 0 -280px !important;
}
.chiefs {
  background-position: 0 -300px !important;
}
.dolphins {
  background-position: 0 -320px !important;
}
.vikings {
  background-position: 0 -340px !important;
}
.patriots {
  background-position: 0 -360px !important;
}
.saints {
  background-position: 0 -380px !important;
}
.giants {
  background-position: 0 -400px !important;
}
.jets {
  background-position: 0 -420px !important;
}
.raiders {
  background-position: 0 -440px !important;
}
.eagles {
  background-position: 0 -460px !important;
}
.steelers {
  background-position: 0 -480px !important;
}
.chargers {
  background-position: 0 -500px !important;
}
.fortyniners {
  background-position: 0 -520px !important;
}
.seahawks {
  background-position: 0 -540px !important;
}
.rams {
  background-position: 0 -560px !important;
}
.buccaneers {
  background-position: 0 -580px !important;
}
.titans {
  background-position: 0 -600px !important;
}
.redskins {
  background-position: 0 -620px !important;
}