.cardinals-heading {
  background-color:#97233f;
  color:#ffb612;
}
.falcons-heading {
  background-color:#c9233f;
  color:#010005;
}
.ravens-heading {
  background-color:#2a0365;
  color:#fff;
}
.bills-heading {
  background-color:#0f4589;
  color:#fff;
}
.panthers-heading {
  background-color:#0088d4;
  color:#000;
}
.bears-heading {
  background-color:#03182f;
  color:#df6108;
}
.bengals-heading {
  background-color:#f03a16;
  color:#000;
}
.browns-heading {
  background-color:#322820;
  color:#fff;
}
.cowboys-heading {
  background-color:#0d254c;
  color:#fff;
}
.broncos-heading {
  background-color:#df6108;
  color:#fff;
}
.lions-heading {
  background-color:#006db0;
  color:#fff;
}
.packers-heading {
  background-color:#313436;
  color:#f2c800;
}
.texans-heading {
  background-color:#03182f;
  color:#fff;
}
.colts-heading {
  background-color:#163f83;
  color:#fff;
}
.jaguars-heading {
  background-color:#007189;
  color:#fff;
}
.chiefs-heading {
  background-color:#b20032;
  color:#fff; 
}
.dolphins-heading {
  background-color:#005e6a;
  color:#df6018;
}
.vikings-heading {
  background-color:#3b0160;
  color:#f0bf00;
}
.patriots-heading {
  background-color:#0d254c;
  color:#fff;
}
.saints-heading {
  background-color:#c9b074;
  color:#000;
}
.giants-heading {
  background-color:#192e6b;
  color:#fff;
}
.jets-heading {
  background-color:#313f36;
  color:#fff;
}
.raiders-heading {
  background-color:#000;
  color:#c4c8cb;
}
.eagles-heading {
  background-color:#003b48;
  color:#fff;
}
.steelers-heading {
  background-color:#f2c800;
  color:#000;
}
.chargers-heading {
  background-color:#009ee1;
  color:#000;
}
.fortyniners-heading {
  background-color:#740026;
  color:#c9b074;
}
.seahawks-heading {
  background-color:#54ba4c;
  color:#04163c;
}
.rams-heading {
  background-color:#c9b074;
  color:#0d254c;
}
.buccaneers-heading {
  background-color:#b20032;
  color:#cfcccc;
}
.titans-heading {
  background-color:#4c36c4;
  color:#000;
}
.redskins-heading {
  background-color:#7a2d39;
  color:#fdb518;
}